body {
  background-image: url(media/bg.jpg);
  background-size: 80%;
  background-size: cover;
  font-family: "Tilt Warp", cursive;
  padding: 30px;
}

footer {
  margin: 8px 0;
  font-size: 12px;
  color: #fff8ed;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #c2e0f9;
}

footer a:hover {
  text-decoration: underline;
  transition: all 300ms ease-in-out;
}

h1 {
  font-size: 50px;
  line-height: 70px;
}

h2 {
  font-size: 75px;
}

h1,
h2,
h4 {
  color: #07203e;
}

h3 {
  margin: 0 0 0 2px;
  color: #07203e;
  font-size: 30px;
}

h4 {
  font-size: 30px;
}

form {
  display: flex;
}

.app {
  background-color: #fff8ed;
  box-shadow: 6px 9px 14px 2px rgba(248, 248, 248, 0.2);
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  width: 80%;
}

.search-text {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 5px;
  border: 1px solid #07203e;
  border-radius: 5px;
}

.search-button,
.geolocation-button {
  width: 60px;
  border-radius: 5px;
  background-color: #07203e;
  border: 0px solid transparent;
  display: inline-block;
  margin: 0 0 0 4px;
  vertical-align: baseline;
  transition: all 200ms ease-in-out;
}

.search-button:hover,
.geolocation-button:hover {
  background-color: #114688;
}

.button-icon {
  color: #fff8ed;
}

.col {
  padding: 0;
  margin: 15px;
}

.row {
  padding: 10px;
}
